# Pandas lab exersize
We will using automobile dataset from Kaggle <br>
Load pandas as pd and Automobile.csv as `auto`

In [1]:
import pandas as pd

In [15]:
auto = pd.read_csv('Automobile_data.csv',na_values={'price':["?","n.a"],
'stroke':["?","n.a"],
'horsepower':["?","n.a"],
'peak-rpm':["?","n.a"],
'average-mileage':["?","n.a"]})

### Check the head of the dataframe

In [16]:
auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

### How many rows and columns are there?

In [17]:
auto.shape

(205, 26)

### What is the average price of all cars in dataset?

In [18]:
auto.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [59]:
auto['price'].mean()

13207.129353233831

### Which is the cheapest make and costliest make of car in the lot?|

In [58]:
auto.groupby('make')['price'].agg('min').sort_values().head(1)

make
subaru    5118.0
Name: price, dtype: float64

### How many cars have horsepower greater than 100?

In [60]:
auto.head(1)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0

In [76]:
auto[auto['horsepower'] > 100].count()

symboling            92
normalized-losses    92
make                 92
fuel-type            92
aspiration           92
num-of-doors         92
body-style           92
drive-wheels         92
engine-location      92
wheel-base           92
length               92
width                92
height               92
curb-weight          92
engine-type          92
num-of-cylinders     92
engine-size          92
fuel-system          92
bore                 92
stroke               88
compression-ratio    92
horsepower           92
peak-rpm             92
city-mpg             92
highway-mpg          92
price                90
dtype: int64

### What are the most commonly found cars in dataset?

In [78]:
auto['make'].value_counts().head(1)

toyota    32
Name: make, dtype: int64

### Someone purchase a car for 7099, what is the make of the car?

In [90]:
auto[auto['price']==7099][['make','price']]

      make   price
90  nissan  7099.0

### Which cars are priced greater than 40000?

In [91]:
auto[auto['price']>40000]['make']

16              bmw
73    mercedes-benz
74    mercedes-benz
Name: make, dtype: object

### Which are the cars that are both the sedan and price less than 5000?

In [92]:
auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [95]:
auto[(auto["body-style"]=='sedan') & (auto['price']<5000)]

Empty DataFrame
Columns: [symboling, normalized-losses, make, fuel-type, aspiration, num-of-doors, body-style, drive-wheels, engine-location, wheel-base, length, width, height, curb-weight, engine-type, num-of-cylinders, engine-size, fuel-system, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price]
Index: []

[0 rows x 26 columns]

### The END